Code/Java/J2EE/MusicAlbumClient/src/conf/xml-resources/web-service-references/MusicAlbumEdit/wsdl/localhost_8084/MusicAlbum/MusicAlbumEdit.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://pack/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://pack/">

<xs:element name="add" type="tns:add" />

<xs:element name="addResponse" type="tns:addResponse" />

<xs:element name="delete" type="tns:delete" />

<xs:element name="deleteResponse" type="tns:deleteResponse" />

<xs:element name="display" type="tns:display" />

<xs:element name="displayResponse" type="tns:displayResponse" />

<xs:complexType name="add">
<xs:sequence>
<xs:element name="details" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="display">
<xs:sequence />
</xs:complexType>

<xs:complexType name="displayResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="delete">
<xs:sequence>
<xs:element name="id" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>