Code/Java/J2EE/MusicAlbumClient/src/conf/xml-resources/web-service-references/MusicAlbumEdit/wsdl/localhost_8084/MusicAlbum/MusicAlbumEdit.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://pack/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://pack/" name="MusicAlbumEdit">
<types>
<xsd:schema>
<xsd:import namespace="http://pack/" schemaLocation="http://localhost:8084/MusicAlbum/MusicAlbumEdit?xsd=1" />
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add" />
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse" />
</message>
<message name="delete">
<part name="parameters" element="tns:delete" />
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse" />
</message>
<message name="display">
<part name="parameters" element="tns:display" />
</message>
<message name="displayResponse">
<part name="parameters" element="tns:displayResponse" />
</message>
<portType name="MusicAlbumEdit">
<operation name="add">
<input wsam:Action="http://pack/MusicAlbumEdit/addRequest" message="tns:add" />
<output wsam:Action="http://pack/MusicAlbumEdit/addResponse" message="tns:addResponse" />
</operation>
<operation name="delete">
<input wsam:Action="http://pack/MusicAlbumEdit/deleteRequest" message="tns:delete" />
<output wsam:Action="http://pack/MusicAlbumEdit/deleteResponse" message="tns:deleteResponse" />
</operation>
<operation name="display">
<input wsam:Action="http://pack/MusicAlbumEdit/displayRequest" message="tns:display" />
<output wsam:Action="http://pack/MusicAlbumEdit/displayResponse" message="tns:displayResponse" />
</operation>
</portType>
<binding name="MusicAlbumEditPortBinding" type="tns:MusicAlbumEdit">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="add">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="delete">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="display">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="MusicAlbumEdit">
<port name="MusicAlbumEditPort" binding="tns:MusicAlbumEditPortBinding">
<soap:address location="http://localhost:8084/MusicAlbum/MusicAlbumEdit" />
</port>
</service>
</definitions>